<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= pageTitle %></title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<%- include('nav', { navigation : [{Text : 'Items' ,href : '/' },{Text : 'People' ,href : '/names' }] } )%>
	<hr/>
	<ul>
		<% for(var i=1, len = 11;i<len;i++) {%>
			<li>Item: <%=i%></li>
		<% } %>
	</ul>
</body>
</html>