<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= pageTitle %></title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<%- include('nav', { navigation : [{Text : 'Items' ,href : '/' },{Text : 'People' ,href : '/names' }] } )%>
	<hr/>
	<ul>
		<% for(var i=0, len = people.length;i<len;i++) {%>
			<% if (i == len-2) { %>
				<li><b>Special Item: </b><a href="/person/<%=people[i].id%>"><i><%= people[i].firstName.concat(" " + people[i].lastName) %></i></a></li>
			<%}else {%>
				<li><a href="/person/<%=people[i].id%>"><%= people[i].firstName.concat(" " + people[i].lastName) %></a></li>
			<%}%>
		<% } %>
	</ul>
	<div id="person-bio">
		<p><%=!!person ? people[0].bio : '' %></p>
	</div>
</body>
</html>