<nav>
	<ul>
	<!-- pass the data upon call / include-->
	<% for(var i = 0, len=navigation.length;i < len;i++) {%>
		<li class="person person-<%=i+1%>"><a href="<%=navigation[i].href%>"><%=navigation[i].Text%></a></li>
	<%}%>
	</ul>
</nav>