@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto|Roboto+Condensed:300';
body{
	margin: auto auto;
	width:89%;
	font-family:'Roboto Condensed', 'Roboto' sans-serif;
}
ul{
	list-style-type:none;
	margin:10px 5px;
	padding:0;
}
ul li{
	font-family: 'Lato', sans-serif;
}
ul li.person{
	padding:6px 0px;
	font:lighter  26px 'Roboto';
}
ul li a{
	text-decoration:none;
	color:#000;
}
ul li a:hover{
	color:darkgrey;
}
nav{
	width:100%;
}
nav ul{
	list-style: none;
	padding:0;
	margin:30px 0 0;
}
nav ul li{
	display:inline-block;
	color:cyan;
}
nav ul li a{
	font-weight:lighter;
	font-size:18px ;
	text-decoration:none;
	color:darkgrey;
	padding:0px 5px;
}
#person-bio p{
	font-size:16px;
	color:grey;
	max-width:550px;
	font-family:'Lato';
}